body {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    opacity: 0.8;
}
.future-cards {
    background-color: #4f9bd1;
    color: white;
    margin: 10px;
    padding: 8px;
    display: inline-block;
}
.future-weather {
    text-align: center;
}
.clear-btn,
.city-btn {
    margin: 0px 5px;
    padding: 4px;
}
.search-card {
    margin-bottom: 50px;
    opacity: 0.6;
    background-color: #4f9bd1;
}
.current-card {
    margin: auto;
    margin-bottom: 50px;
    opacity: 0.8;
}
.future-card {
    margin: auto;
    margin-bottom: 50px;
    opacity: 0.8;
}
.uvBtn {
    border: none;
}
